{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search Bar</title>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

   <div class="container"> 
    <form action="crawler" method="post">
        {% csrf_token %}
        <input type="submit" value="Crawler" class="btn1">
    </form>
    
    <form action="validate" method="post">
        {% csrf_token %}
        <div class="search">
            <div class="icon"></div>
            <div class="input">
            <input type="text" name="user" id="mysearch" required/>
        </div>
        
        <script>
            const icon = document.querySelector('.icon');
            const search = document.querySelector('.search');
            icon.onclick = function(){
                search.classList.toggle('active')
            }
        </script>
    </form>
</div>

</body>
</html>